

<div class="container-fluid">
<div class="row">
<div class="col-sm-3 col-md-2 sidebar">
<ul class="nav nav-sidebar">
<li class="active"><a href="#">Men <span class="sr-only"></span></a></li>
<li><a href="#">Girl</a></li>
<li><a href="#">Kid</a></li>
<li><a href="#">Contact</a></li>
</ul>

</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1 class="page-header">Feature</h1>
<div class="row placeholders"> 



<!-- Three columns of text below the carousel -->
<div class="row">
<div class="col-lg-4">

<%= image_tag '1.jpg', class:'img-circle' , alt:'Generic placeholder image', style:'width: 140px; height: 140px;' %>

<h2>Heading</h2>
<p>Kcamata ok ok  ok</p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->
<div class="col-lg-4">

<%= image_tag '2.jpg', class:'img-circle' , alt:'Generic placeholder image', style:'width: 140px; height: 140px;' %>
<h2>Heading</h2>
<p>jam tangan okjam tangan ok</p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->
<div class="col-lg-4">


<%= image_tag '3.jpg', class:'img-circle' , alt:'Generic placeholder image', style:'width: 140px; height: 140px;' %>
<h2>Heading</h2>
<p>jam tangan okjam tangan okjam tangan okjam tangan okjam tangan ok</p>
<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</div>
</div>
</div>


<img class="img-circle" src="1.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">